extends layout

block content
  h1 Edit Blog
  form(action=`/blogs/${blog._id}?_method=PUT`, method='post')
    div
      label(for='title') Title:
      input(type='text', name='title', id='title', value=blog.title)
    div
      label(for='content') Content:
      textarea(name='content', id='content')= blog.content
    div
      label(for='author') Author:
      input(type='text', name='author', id='author', value=blog.author)
    div
      button(type='submit') Update
  if errors
    ul
      each error in errors
        li= error.msg
